.fun_link{
	width:972px;
	height:85px;
	margin:auto;
	margin-bottom:10px;
	}
	
.fun_link  ul li{
	width:243px;
	height:85px;
	margin:0px;
	float:left;
	padding:0px;
	background:url(../images/fun-bg2.png) no-repeat}
	
.fun_link  ul li p{
	text-indent:72px;
	padding-top:48px;}
	
.fun_link  ul li a{
	color:#F7B8C9;
	font-weight:bold;
	font-family:"微软雅黑";
	display:block;
	width:243px;
	height:85px;}	
.fun_link  ul li.fun1{background-position:0px 0px;}
.fun_link  ul li.fun1 a{color:#0EA9D6;}

.fun_link  ul li.fun2{background-position:-250px 0px}
.fun_link  ul li.fun2 a{color:#0EA9D6;}

.fun_link  ul li.fun3{background-position:-500px 0px;}
.fun_link  ul li.fun3 a{color:#0EA9D6;}

.fun_link  ul li.fun4{background-position:-750px 0px;}
.fun_link  ul li.fun4 a{color:#0EA9D6;}	
	
.box_row{
	width:972px;
	height:225px;
	margin-bottom:15px;}


.main .types{
	width:972px;
	margin:auto;
	overflow:hidden;}

.main .types .box_item{
	width:312px;
	height:225px;
	background:#F6F6F6;
	float:left;
	border:1px solid #E6E4E4;
	margin-right:10px;
	display:inline;}
.main .types .last{
	margin-right:0px;
	width:322px;}

.main .types .box_item ul.title{
	height:50px;
	line-height:50px;
	font-size:17px;
	font-weight:bold;
	font-family:"Arial Black", Gadget, sans-serif;}
.main .types .box_item ul.title a{
	color:#999999;}

.main .types .box_item ul.title a:hover{
	color:#FF6600;}
.main .types .box_item ul.content{
	height:160px;}
.main .types .box_item ul.content li.c1 a{
	display:block;
	width:160px;
	height:160px;
	overflow:hidden;}
.main .types .box_item ul.content li{
	float:left;}
.main .types .box_item ul.content li.c2{
	float:right;
	width:110px;
	color:#9C9C9C;}
.main .types .box_item ul.content li.c2 p.p2{
	height:88px;}
.main .types .box_item ul.content li.c2 p.p3{
width:71px;
	height:23px;
	background:url(../images/count.jpg) no-repeat;
	line-height:23px;
	text-align:center;
	text-indent:45px;
	color:#FF1566}
.main .types .box_item ul.content li.c2 p.p4{
	width:100px;
	overflow:hidden;
	height:36px;
	line-height:36px;
	text-align:left;
	color:#989898;
	font-weight:bold;
	font-size:15px;
}
.main .types .box_item .p4 .abl_uimg img{
	top:4px;
	position:relative;
}

#ppt_box .bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer;float:right;}
#ppt_box .defimg{background-image:url(../images/02.png)}
#ppt_box .curimg{background-image:url(../images/01.png)}
#ppt_box .mainbox{
    overflow:hidden;
    position:relative;
}
#ppt_box .flashbox{
   overflow:hidden;
    position:relative;
}
#ppt_box .imagebox{
    text-align:right;position:relative;z-index:999;
}

/*弹出层*/  
.botton{ color:#F00; cursor:pointer;}
#cwxBg{ position:absolute; display:none; background:#000; width:100%; height:100%; left:0px; top:0px; z-index:1000;}
#cwxWd{ position:absolute; display:none; padding:10px; z-index:1500;}
#cwxCn{ display:block;}
.imgd{ width:750px; height:594px;}
/*弹出层*/  




